<div class="row">
<div class="container-fluid jumbotron-2">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron-1">
          <h1 class="title">178VC & PE</h1>
         <p class="slogan">178VC & PE 是一个提供优质股权投资项目的网站。
          <br>
          我们希望藉由这个网站，能让大家找到且投资优质的成长型企业。
          <br>
          让时间为自己创造财富,轻松成为人生 Winner
        </p>
        <p class="AD">
          <br> &nbsp&nbsp&nbsp&nbsp 当然，为了让你轻松掌握看财报的技能，强烈建议你去上台湾林明璋老师的超级数字力课程，让你两天从财报小白变大神，拥有在平凡财报中发现钻石企业的慧眼！
         </p>
          <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上查看</a></p>
         </div>
         </div>
         <div class="col-md-6 rightimg" style="width=50%,height=50%;">
           <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ffblrgwoj0j318g14gn1x.jpg" alt="no-pics" class="img-responsive" >
           <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ffblx0sup8j30gy04ojs2.jpg" alt="no-pics" class="img-responsive" >

           </div>
    </div>
  </div>

</div>
<!-- <div class="jumbotron">
    <h1 class="title">18K Offer</h1>
   <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
    凭借自己的努力和天份也会变 Winner
   </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div> -->

   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
             <div class="caption">
               <h3>北京朝阳建外SOHO</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
             <div class="caption">
               <h3>info@18koffer.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
             <div class="caption">
               <h3>010-12344321</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
